.hidden {
  display: none;
}

.page__title {
  text-align: center;
  margin: 5% auto;
}

.section {
  margin: 30px auto;
}

.section__title {
  margin: 5% 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
