.navbar-nav {
    width: 50%;
    flex-direction: row;
    justify-content: end;
}

.nav-item {
    margin-left: 10%;
}

.navbar {
    justify-content: space-around;
}
.nav-link {
  font-size: 1.5rem;
}
@media screen and (max-width: 480px) {
  .nav-link {
    font-size: 1rem;
  }

}
